body{
  
  /* background: radial-gradient(590px at 8.2% 13.8%, rgb(18, 35, 60) 0%, rgb(187, 187, 187) 90%); */
}
.App {
  margin: auto;
  
}

h1 {
  margin-top: 5px;
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #333; 
  text-align: center; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  padding-bottom: 10px; 
  font-family: 'Arial', sans-serif; 
}
